.header{
        text-align: center;
}
body{
    background-image: url(woodenpizza.jpg);
    background-size: cover;
}
.container{
           text-align: center;
           display: block;
           background-color: black;
           color: white;
           opacity: 0.75;

}
