.header{
        text-align: center;
}
body{
    background-image: url(woodenpizza.jpg);
    background-size: cover;
}
.container{
           text-align: center;
           display: block;
           background-color: black;
           color: white;
           opacity: 0.75;

}
.column {
  float: left;
  width: 33.33%;
  padding: 30px;
  margin-left: 50px;
  margin-right: 100px;
  padding-right: 30px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.description{
              text-align: left;
              border-width: medium;
              border-color: white;
              font-family: 'Lakki Reddy', cursive;
              font-weight: bolder;

}
.crust{
  text-align: left;
  background-color: YellowGreen;

}
