.header{
        text-align: center;
}
body{
    background-image: url(woodenpizza.jpg);
    background-size: cover;
}
.panel{

    background-size: cover;
    color: white;
    position: sticky;
    padding: 50px;

}
.panel2{
      background-color: Turquoise;
}

.container{
           text-align: center;
           display: block;
           background-color: black;
           color: white;
           opacity: 0.75;
           padding: 30px;
           margin-bottom: 200px;

}
.cardpizza{
           background-image: url(back.jpg);
}
.pizzaman2{
           opacity: 0.9
}
.column {
  float: left;
  width: 33.33%;
  padding: 30px;
  margin-left: 50px;
  margin-right: 100px;
  padding-right: 30px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.img{
     float:left;
}

.contact{
  text-align: center;
}
.contact-logo{
   float:left;
}
.prices{
        background-color: gold;
        display: none;
}
.description{
              text-align: left;
              border-width: medium;
              border-color: white;
              font-family: 'Lakki Reddy', cursive;
              font-weight: bolder;

}
.menuorder{
  text-align: left;
  background-color: YellowGreen;
}
.crust{
  text-align: left;
  background-color: YellowGreen;

}
#logo{
      float: left;
}
#checkout{
          text-align: center;
          background-attachment: scroll;
          display: block;
}
.card-float{
             display:flex;
             display: block;
             margin-top: 10px;
             padding-left: 300px;
             padding-bottom: 400px;


}
.form{
      background: inherit;
}
#pizzaman{
          float: left;
          display: block;
}
textarea{
         background: inherit;
}
#email{
       background: inherit;
}
.final-order{
        float: center;
        position: absolute;
        display: block;
        display: none;
        width: 700px;
        background-image: url(smallback.jpg);
        opacity: 0.9;
        font-family: 'Anton', sans-serif;
        font-weight: bolder;
        background-size: cover;
        color: white;
        padding: 20px;
        text-align: center;
        top: 80%;
        bottom: 50%;
        margin-right: 300px;
        height: 400px;
}
.icons{
        text-align: center;
        display: block;
}
/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.row{
     margin-right: 20px;
}
.body2{

}
.hide{
       display: none;
}
.checkoutbtn{
              display: block;
              margin-left: 250px;
}
.topnav {
  overflow: hidden;
  background-color: black;
  opacity: 0.5;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
